<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.polluxsoft.audiorecoder.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AudioRecoderApp</name>
  <description>
        a simple audio recorder app
    </description>
  <author email="rhaynel2000@gmail.com" href="http://www.hablemosdetecnologia.com.ve">
        Rhaynel Parra
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>